<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="inicio" routerLinkActive="active" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="cliente" routerLinkActive="active" class="nav-link">Clientes</a>
    </li>
    <li class="nav-item">
      <a routerLink="fornecedor" routerLinkActive="active" class="nav-link">Fornecedor</a>
    </li>
    <li class="nav-item">
      <a routerLink="agendas" routerLinkActive="active" class="nav-link">Agenda</a>
    </li>
    <li class="nav-item">
      <a routerLink="servico" routerLinkActive="active" class="nav-link">Serviços</a>
    </li>
    <li class="nav-item">
      <a routerLink="conta" routerLinkActive="active" class="nav-link">Conta</a>
    </li>
    <li class="nav-item">
      <a routerLink="despesa" routerLinkActive="active" class="nav-link">Despesa</a>
    </li>
    <li class="nav-item">
      <a routerLink="receita" routerLinkActive="active" class="nav-link">Receita</a>
    </li>
    <li class="nav-item">
      <a routerLink="transacao" routerLinkActive="active" class="nav-link">Transação</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <span>Sistema de Gestão de Serviços - V1.0</span>
  </div>
</footer>
